/* TailwindCSS default ranglari */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Qorong'u rejimdagi ranglar */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a !important; /* Qorong'u fon rangi */
    color: #f5f5f5 !important; /* Yorqin matn rangi */
  }
}

/* Qorong'u rejimdagi o'zgarishlar */
.dark body {
  background-color: #1a1a1a !important; /* Qorong'u fon rangi */
  color: #f5f5f5 !important; /* Yorqin matn rangi */
  
}

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark span {
  color: #ffffff; /* Oq matn rangi */
}
